<div class="jumbotron">
<h1>Welcome to emagineLab</h1>
<p>
	emagineLab, best business
	<%= link_to "emagineLab", "http://emaginelab.com" %>
</p>
<p>
	<%= link_to "Inscríbete Ahora", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
